In [25]:
import pandas as pd
import numpy as np
import statistics
%matplotlib inline

In [26]:
df = pd.DataFrame()

In [27]:
df['age'] = [14, 12, 11, 10, 8, 6, 8]
df

   age
0   14
1   12
2   11
3   10
4    8
5    6
6    8

In [28]:
np.mean(df['age'])

9.857142857142858

In [29]:
np.median(df['age'])

10.0

In [30]:
statistics.mode(df['age'])

8

__*I believe the best use of central tendency would be "Median". The mean would be the estimate of variance I would choose/ The mean is the average of all data supplied. The median separates the lower and upper half to give the direct middle number of the data used. This, I believe, is the true statistical data that can be pulled to be measured.*__

In [31]:
df['age'] = [14, 12, 11, 10, 8, 7, 8]
df

   age
0   14
1   12
2   11
3   10
4    8
5    7
6    8

In [32]:
np.mean(df['age'])

10.0

In [33]:
np.median(df['age'])

10.0

In [34]:
statistics.mode(df['age'])

8

__*Everything stayed the same except the "Mean" data.*__

In [35]:
df['age'] = [14, 12, 11, 10, 8, 7, 1]
df

   age
0   14
1   12
2   11
3   10
4    8
5    7
6    1

In [36]:
np.mean(df['age'])

9.0

In [37]:
np.median(df['age'])

10.0

In [38]:
statistics.mode(df['age'])

StatisticsError: no unique mode; found 7 equally common values

__*The mean data changed and the mode data is unable to compute due to the it finding 7 equally common values*__

In [43]:
data = pd.DataFrame()
data['TV Guide'] = [20]
data['Entertainment Weekly'] = [23]
data['Pop Culture Today'] = [17]
data['SciPhi Phanatic'] = [5]

In [46]:
data.head()

   TV Guide  Entertainment Weekly  Pop Culture Today  SciPhi Phanatic
0        20                    23                 17                5

__*I believe the percentage of Americans who were fans of the 50th Anniversary show would be an estimate of 16.25%*__